.content {
  margin-top: 1rem;
}

.content_section {
  margin-bottom: 18px;
}

.content_section > h2 {
  color: #F5F5F5;
  font-size: 18px;
  margin-bottom: 6px;
}

.content_section > p {
  color: #DCDCDC;
  font-size: 12px;
  line-height: 150%;
}

.content_toggle-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #DCDCDC;
  margin-bottom: 10px;
}